<% include chathead %>
	<header class="chatHeader">
   <h4 class="siteTitle">Timmy</h4> <p class="logout"><a href="/logout">Log out</a></p>
  </header>    
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div id="innerWrapper">
      <ul id="users"></ul>
      <ul id="messages"></ul>
    </div>
    
<% include chatfooter %>