<% include ../head %>
	<script src="/socket.io/socket.io.js"></script>

    
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    
    <ul id="messages"></ul>
    <ul id="users"></ul>
    <form id="chatForm" action="">
      <input type="text" id="m" autocomplete="off" /><button>Send</button>
    </form>
    <p><a href="/logout">Log out</a></p>
<% include ../footer %>