.chat {
	.wrapper {
	  display:flex;
	  flex-direction:column;
	  height:100%;
	  width:100%;
	}
	.chatHeader {
		@extend .clearfix;
		min-height:3em;
		padding:0.5em;
		background-color:rgba(0,0,0,0.1);
	}
	main {
	  flex: 1 1 auto;
	  min-height: 0px;
	  display:flex;
	}
	.chatFooter {
		background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.05));
		min-height: 6em; //Keep 6 em for clean sticky footer
		padding: 0;
	}
	.siteTitle {
		display:block;
		float:left;
		margin:0;
	}
	.logout {
		float:right;
		margin:0;
	}
}

#chatForm {
	@extend .clearfix;
	z-index:1;
	margin-bottom:0;
	input { 
		float:left;
		width:100%;
		margin-right:-5em;
	}
	button {
		position:relative;
		width: 5em;
		margin-left:-5em;
		float:right;
		z-index:1000;
	}
}

#users, #messages {	
	width:100%;
	height:100%;
	list-style-type: none; 
	margin: 0;
}

.left, .right {
	overflow-y:auto;
}

.left {
	background-color:rgba(0,0,0,0.1);
	width:25%;
}

.right { 
	width:75%;
}

.chatMessage {
	padding:0.25em 0.5em;
}

.systemMessage {
	color:$pink;
}

.chatUser {
	color:#ccc;
	margin-right:0.5em;
}